<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Lista de estudiantes</title>
</head>
<body>
	<table>
		<thead>
			<th>Codigo</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Carne</th>
			<th>Carrera</th>
		</thead>
		<th:block th:each="estudiante, row:${estudiantes}">
			<tr>
				<th th:text="${estudiante.codigoEstudiante}"/>
				<th th:text="${estudiante.nombre}"/>
				<th th:text="${estudiante.apellido}"/>
				<th th:text="${estudiante.carne}"/>
				<th th:text="${estudiante.carrera}"/>
			</tr>
		</th:block>
	</table>
	<br>
	<form th:action="@{/borrar}" method="post">
		<label>Codigo de estudiante a borrar:</label><input type="number" id="codigo" name="codigo"><br>
		<input type="submit" value="Borrar">
	</form>
</body>
</html>